{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <br>
    <p>
      <a href="https://github.com/lazarenkov-e" target="_blank">Мой аккаунт</a> с платформы github<br>
      <h4>Что вдохновляет меня заниматься программированием:</h4>
      <ul>
        <li>технологии, которые делают жизнь людей удобнее</li>
        <li>моя семья: жена Маша, сын Сёма и кот Тихон (куда же без него?)</li>
        <li>удовольствие от получения новых знаний</li>
        <li>неадекватная внешняя и внутренняя политика моей страны</li>
      </ul>
      Меня зовут Лазаренков Евгений, 34 года, город Санкт-Петербург.
      Информационные технологии интересовали меня всегда. В 2011 году я окончил обучение в университете СПБГУ ИТМО по специальности "Информационные технологии в образовании".
      В ходе обучения изучал такие технологии как php,oracle, turbo pascal, c, c++, java script. Но я "перегорел", возможно, из-за неудачно составленной учебной программы, а может быть
      по каким-то другим причинам. Так или иначе, в течении 10 лет моя сфера деятельности была - предпринимательство. У меня был(и пока что есть) свой небольшой интернет-магазин по продаже товаров
      для сада и огорода. За последние пару лет, интерес к программированию и изучению новых технологий снова пробудился во мне. Я начал самостоятельно изучать язык программирование, в частности - python, начал снова получать удовольствие от процесса. 
      Довольно быстро стало понятно, что для лучшего прогресса в обучении, мне необходимо создать условия, в которых я буду вынужден больше и эффективнее изучать предмет.
      <br>
      После анализа курсов по программированию, остановил свой выбор на курсах от Яндекс Практикума "Python-разработчик", где и обучаюсь в настоящее время.
      <br>
      Так выглядит мой кот Тихон, с тех пор как я начал обучение: 
    </p>
    <br>
    <p align="center">  
      <img src="{% static 'img/kotik.jpg' %}" width="640" height="480" class="d-inline-block align-top">
    </p>
  </div>
{% endblock %}
