{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <p align="center">
      <h1>Вот что я умею</h1>
    </p>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p align="justify">Django («Джанго») — это свободный фреймворк для разработки быстрых и безопасных веб-приложений и сайтов на языке Python.
        <br> 
        Использует шаблон проектирования MVC. Django создали в 2003–2005 годах веб-программисты онлайн-версии Lawrence Journal-World Адриан Головати и Саймон Уиллисон.
      </p>
    </article>
  </div>
{% endblock %}
